page-home {
   
    .main{

        background: url("../assets/imgs/bkgrd.jpg") center  ;
    }

    .logo{

        display: block;
        margin: auto;
        width: 44%;
    
    }

    .btn-journey
    {
        width: 83%;
        height: 60px;
        margin: 0 auto;
        margin-top: 66px;
    }

    .content-main {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
   
}
