page-about-us {

    ion-content.main-content.content.content-md {
        background-color: #e1788e;
        color: #FFF;
    }

    ion-content.main-content.content.content-ios {
        background-color: #e1788e;
        color: #FFF;
    }
}
